body.post-type-gr_redirect .column-title {
	width: 22%;
}

body.post-type-gr_redirect .column-gr_visits {
	width: 12%;
}

body.post-type-gr_redirect tr:not(:hover) .gr-copy {
	opacity: 0;
}

.gr-copy {
	margin: 8px 0 4px !important;
}

.gr-copy ~ .dashicons {
	margin-top: 10px;
}

.gr-count {
	display: inline-block;
	position: relative;
	top: -2px;
	padding: 2px 6px;
	min-width: 24px;
	border-radius: 100px;
	background-color: #72777c;
	color: white;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
}

body.post-type-gr_redirect input[name="_gr_redirect_url"] {
	width: 100%;
}

body.post-type-gr_redirect input[name="_gr_redirect_visits"] {
	pointer-events: none;
}
